{% extends "truetemplate.html" %}

{% block content %}


<div class="reviewcard">
    <h1>Warning: bad reviews may be ink-cluded!</h1>
    <div class="review_top">
    <form method="GET" action="/reviews">
            <label> filter reviews!</label>
            <select name="filter_by">
                <option value="newest">newest</option>
                <option value="oldest">oldest</option>
                <option value="rating">rating</option>
            </select>
            <button type="submit">filter</button>
        </form>
     </div>
    

        <form method="POST" action="/reviews">
        <label>product ID</label>
        <input type="number" name="productid" placeholder="enter your product ID!">
        <label>comment</label>
        <input type="text" name="comment_box" placeholder="enter your comment!">

        <select name="rating" id="review_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">submit</button>
    </form>
</div>

<div class="all_reviews">
    
        {%for r in reviews%}
        <div class="reviews">
            <h3>{{r.name}}</h3>
            <h4>{{r.product_name}}</h4>
            <p>{{r.reviewtext}}</p>
            <p>{{r.created_at}}</p>
            <p> rating:{% for i in range(r.rating|int) %}
                🦑 
                {% endfor %}
            </p>

            <form method="post" action="/delete_review/{{r.reviewid}}">
            <button type="submit" class="delte_btn">delete</button>
            </form>

        </div>
        {% endfor %}
</div>







{% endblock %}