{% extends "truetemplate.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

    <form action="/shop" method="GET" class="search-form">
        <input type="text" name="q" placeholder="Search products..." value="{{ request.args.get('q', '') }}">
        <button type="submit">Search</button>
    </form>

<div class="shop-container">

    {% for p in products %}
    <div class="product-card">

        <h2 class="product-title">{{ p.title }}</h2>
        <a href="{{ p.image }}" target="_blank">
            <img src="{{ p.image }}" class="product-image">
        </a>
        {% if p.discountprice%}
        <del>${{ p.price }}</del>
        <strong> sale: ${{p.discountprice }}</strong>
        <p class="discount-end">
            Ends on: {{ p.length }}
        </p>
        {% else %}
        <p class="product-price">${{ p.price }}</p>
        {% endif %}
        <p class="product-desc">{{ p.description }}</p>

        <p class="product-meta">
            <span>Stock: {{ p.instock }}</span>
            <span>Warranty: {{ p.warrantyid }} years</span>
            <span>Product ID: {{ p.productid }}</span>
            <span>Vendor ID: {{ p.vendorid }}</span>
        </p>

        <!-- SINGLE FORM -->
        <form action="/shop" method="POST">

            <input type="hidden" name="product_id" value="{{ p.productid }}">
            <input type="hidden" name="action" value="add">

            <!-- SIZE -->
            <select name="size">
                <option value="extra small">Extra Small</option>
                <option value="small">Small</option>
                <option value="medium" selected>Medium</option>
                <option value="large">Large</option>
                <option value="extra large">Extra Large</option>
            </select>

            <!-- COLOR -->
            <select name="colorid">
                {% for c in colors %}
                    <option value="{{ c.colorid }}">
                        {{ c.colorname }}
                    </option>
                {% endfor %}
            </select>

            <div class="product-buttons">
                <button type="submit" class="btn add-btn">Add to Cart</button>
            </div>

        </form>

        <!-- REMOVE FORM  -->
        <form action="/shop" method="POST">
            <input type="hidden" name="product_id" value="{{ p.productid }}">
            <input type="hidden" name="action" value="remove">
            <button type="submit" class="btn remove-btn">Remove</button>
        </form>

        <form action="/start_chat/{{ p.vendorid }}" method="GET">
            <button type="submit" class="message_vendor-btn">
                Message Vendor
            </button>
        </form>

    </div>
    {% endfor %}

</div>

{% endblock %}