<header class="header">
    <div class="logo-area">
        <h1 class="logo"> <img src="/static/socktopus_logo.png" alt="Socktopus Logo"></h1>
        <p class="tagline">Eight arms. Endless socks.</p>
    </div>

    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</header>


<footer class="footer">
    <div class="footer-left">
        <h3>Socktopus</h3>
        <p>Where every toe gets a hug.</p>
    </div>

    <div class="footer-links">
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/returns">Returns</a></li>
            <li><a href="/support">Customer Support</a></li>
        </ul>
    </div>

    <div class="footer-copy">
        <p>© 2026 Socktopus — All Rights Reserved</p>
    </div>
</footer>