<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Socktopus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="tempbody">
    <header class="header">
    <div class="logo-area">
        <h1 class="logo"> <img src="/static/images/Socktopus_logo.png" alt="Socktopus Logo"></h1>
        <h1 class="tagline">Eight arms. Endless socks.</h1>
    </div>

<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/cart">
  <img src="/static/images/funny cart doodle.png" alt="Cart" style="width:50px; height:auto;"></a></li>

        {% if session.get('user_id') %}
            <!-- User is logged in -->
            <li><a href="/account">Account ({{ session['username'] }})</a></li>
            {% if session.get('user_id') and session.get('role') == 'admin' %}
                <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
            {% if session.get('user_id') and session.get('role') == 'vendor' %}
                <li><a href="/vendor">Vendor Dashboard</a></li>
            {% endif %}
            <li><a href="/return">returns</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <!-- User is NOT logged in -->
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</nav>

</header>

{% block content %}

{% endblock %}

<body class="footerbody">
<footer class="footer">
    <div class="footer-left">
        <h3>Socktopus</h3>
        <p>Where every toe gets a hug.</p>
    </div>

    <div class="footer-links">
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/return">Returns</a></li>
            <li><a href="/support">Customer Support</a></li>
            <li><a href="/reviews">review</a></li>
            <li><a href="/warranty">warranty</a></li>
        </ul>
    </div>

    <div class="footer-copy">
        <p>© 2026 Socktopus — All Rights Reserved</p>
    </div>
</footer>
    
</body>
</html>
