{% extends "truetemplate.html" %}

{% block content %}
<div class="warranty-page-bg">




{% if session.get('role') in ['admin', 'vendor'] %}

    <h2>warranty create</h2>
<div class="warranty_create">
    <form method="POST">
    <input type="hidden" name="action" value="create">
    <label >experation date</label>
    <input type="text" name="expire_box">
    <button type="submit" class="btn">submit</button>
    </form>
</div>


<div class="all_warranties">

    <div class="warranty_header">
        <h2>All Warranties</h2>
    </div>

    {% if warranties %}

        <div class="warranty_grid">

            {% for w in warranties %}

            <div class="warranty_card">

                <div class="warranty_top">
                    <span class="warranty_id">
                        Warranty #{{ w.warrantyid }}
                    </span>
                </div>

                <div class="warranty_info">

                    <p>
                        <strong>Expire Date:</strong>
                        {{ w.expire_date }}
                    </p>

                </div>

            </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="no_warranty">

            <p>No warranties found.</p>

        </div>

    {% endif %}

</div>


{% endif %}

</div>

{% endblock %}